.pagination {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.pagination__num {
  --pagination-num-tracking: 0.04em;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--size-icon-lg);
  height: var(--size-icon-lg);
  padding-inline: var(--space-3xs);
  border-radius: 50%;
  font-size: var(--fs-xl);
  line-height: var(--lh-xl);
  letter-spacing: var(--pagination-num-tracking);
  color: var(--color-gray);
  text-decoration: underline;
  text-underline-offset: var(--space-3xs);
}

.pagination__num.is-active {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}

.pagination__ellipsis {
  font-size: var(--fs-xl);
  line-height: var(--lh-xl);
  color: var(--color-gray);
}
