.quote {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
  padding: var(--space-lg);
  border-radius: var(--space-xs);
  background-color: var(--color-dark);
  color: var(--color-light);
}

.quote__text {
  font-size: var(--fs-lg);
  line-height: var(--lh-lg);
}

.quote__author {
  display: block;
  margin-top: var(--space-xs);
  color: var(--color-gray);
  font-size: var(--fs-sm);
  line-height: var(--lh-sm);
}

.quote__info {
  font-size: var(--fs-sm);
  line-height: var(--lh-sm);
  color: var(--color-gray);
}

@media (min-width: 768px) {
  .quote {
    grid-template-columns: 1fr 1fr;
  }
}
