.quote {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
  padding: var(--space-lg);
  border-radius: var(--space-xs);
  background-color: var(--color-dark);
  color: var(--color-light);
}

.quote__quote-mark {
  display: block;
  font-size: var(--fs-xl);
  line-height: 1;
  color: var(--color-accent);
}

.quote__text {
  margin-top: var(--space-xs);
  font-size: var(--fs-lg);
  line-height: var(--lh-lg);
}

.quote__author {
  display: block;
  margin-top: var(--space-xs);
  color: var(--color-gray);
  font-size: var(--fs-sm);
  line-height: var(--lh-sm);
}

.quote__info-block {
  position: relative;
  padding-top: var(--space-lg);
}

.quote__info-icon {
  width: var(--size-icon-lg);
  height: var(--size-icon-lg);
}

.quote__info-title {
  margin-top: var(--space-sm);
  font-size: var(--fs-lg);
  line-height: var(--lh-lg);
}

.quote__info-text {
  margin-top: var(--space-sm);
  color: var(--color-gray);
  font-size: var(--fs-sm);
  line-height: var(--lh-sm);
}

@media (min-width: 768px) {
  .quote {
    grid-template-columns: 1fr 1fr;
  }
}
