.search {
  --search-icon-offset: calc(var(--space-md) + var(--size-icon-xs) + var(--space-2xs));

  position: relative;
  display: inline-flex;
  align-items: center;
}

.search__input {
  width: 100%;
  padding: var(--space-sm) calc(var(--search-icon-offset) + var(--size-icon-xs))
    var(--space-sm) var(--space-md);
  border: 1px solid var(--color-dark);
  border-radius: var(--radius-pill);
  background-color: transparent;
}

.search__input::placeholder {
  color: var(--color-dark);
}

.search__submit-btn {
  position: absolute;
  right: var(--space-md);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-icon-xs);
  height: var(--size-icon-xs);
  color: var(--color-dark);
}

.search__clear-btn {
  position: absolute;
  right: var(--search-icon-offset);
  display: none;
  align-items: center;
  justify-content: center;
  width: var(--size-icon-xs);
  height: var(--size-icon-xs);
  color: var(--color-dark);
}

.search--has-value .search__clear-btn {
  display: flex;
}
