<section class="hero container">
  <div class="hero__inner">
    <div>
      <h1 class="hero__title">Get Body in shape, Stay healthy</h1>
      <p class="hero__subtitle">
        Transform your physique and embrace a healthier lifestyle with our comprehensive fitness
        and nutrition support.
      </p>
      <ul class="hero__tags">
        <li class="hero__tag">#Sport</li>
        <li class="hero__tag">#Healthy</li>
        <li class="hero__tag">#Workout</li>
        <li class="hero__tag">#Diet</li>
      </ul>
    </div>

    <img
      class="hero__img"
      src="/src/images/home/hero.jpg"
      srcset="/src/images/home/hero.jpg 900w, /src/images/home/hero@2x.jpg 1400w"
      sizes="(min-width: 768px) 50vw, 100vw"
      alt="Жінка займається спортом на свіжому повітрі"
      fetchpriority="high"
      width="900"
      height="600"
    />
  </div>
</section>
